{% extends "theme/base.html" %}
{% load static %}

{% block title %}{{ site_name }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{# header #}
{% include 'theme/header.html' %}

<div id="app"></div>

{# footer #}
{% include 'theme/footer.html' %}

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/vue@3.2.22/dist/vue.global{% if not is_debug %}.prod{% endif %}.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.2/marked.min.js" integrity="sha512-hzyXu3u+VDu/7vpPjRKFp9w33Idx7pWWNazPm+aCMRu26yZXFCby1gn1JxevVv3LDwnSbyKrvLo3JNdi4Qx1ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/purify.min.js" integrity="sha512-DJjvM/U3zCRpzrYboJgg23iLHapWcS2rlo7Ni18Cdv+FMs6b3gUF7hQihztj4uVkHHfUwk7dha97jVzRqUJ7hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>document.csrf_token = {value: "{{ csrf_token }}"}</script>
<script>axios.defaults.headers.common['X-CSRFToken'] = document.csrf_token.value</script>
<script src="{% static 'crm/js/vue/article_elem.js' %}"></script>
<script>
  const App = {
    props:[],
    data() {
      return {
        data: [],
        loading: false,
      }
    },
    methods: {
      _get:async function(data) {
          await axios.get("{% url 'crm:article-list' %}")
          .then((response) => {
              this.data = response.data.results;
          })
          .catch((error) => {
              alert(error)
          });
      },

      reload() {
          this.loading = true;
          this._get().then(() => {
              this.loading = false;
              this.$emit('loaded');
          })
      },
      article_clicked(pk) {
        window.location.href = "{% url 'crm:index' %}edit/"+pk+"/";
      },
    },

    mounted() {
      this.reload();
    },

    template: `
      <div class="container">
        <article_elem
          v-for="elem in data"
          :key="elem.pk"
          :json="elem.json"
          :url="elem.url"
          @to_edit="(url)=>{$emit('to_edit',url)}"
          @click="article_clicked(elem.pk)"
        />
      </div>
    `
  };
</script>

<script>
  const app = Vue.createApp(App);
  app.component('article_elem',article_elem);
  app.mount('#app');
</script>
{% endblock %}
