{% extends "theme/base.html" %}
{% load static %}

{% block title %}New Article | {{ site_name }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{# header #}
{% include 'theme/header.html' %}

<div id="app"></div>

{# footer #}
{% include 'theme/footer.html' %}

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/vue@3.2.22/dist/vue.global{% if not is_debug %}.prod{% endif %}.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js" integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.2/marked.min.js" integrity="sha512-hzyXu3u+VDu/7vpPjRKFp9w33Idx7pWWNazPm+aCMRu26yZXFCby1gn1JxevVv3LDwnSbyKrvLo3JNdi4Qx1ww==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/purify.min.js" integrity="sha512-DJjvM/U3zCRpzrYboJgg23iLHapWcS2rlo7Ni18Cdv+FMs6b3gUF7hQihztj4uVkHHfUwk7dha97jVzRqUJ7hg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>document.csrf_token = {value: "{{ csrf_token }}"}</script>
<script>axios.defaults.headers.common['X-CSRFToken'] = document.csrf_token.value</script>
<script src="{% static 'crm/js/vue/article_edit.js' %}"></script>
<script>
  const App = {
      data() {
        return {
        }
      },
      methods: {
      },
    template: `
      <div class="container">
        <article_edit
          list_url="{% url 'crm:article-list' %}"
          next_url="{% url 'crm:index' %}" />
      </div>
    `
  };
</script>

<script>
  const app = Vue.createApp(App);
  app.component('article_edit',article_edit);
  app.mount('#app');
</script>
{% endblock %}
