{% extends "theme/base.html" %}
{% load static %}

{% block title %}{{ site_name }}{% endblock %}

{% block extra_css %}
{% endblock %}

{% block content %}
{# header #}
{% include 'theme/header.html' %}

<div id="app"></div>

{# footer #}
{% include 'theme/footer.html' %}

{% endblock %}

{% block extra_js %}
<script src="https://unpkg.com/vue@3.2.22/dist/vue.global{% if not is_debug %}.prod{% endif %}.js"></script>
<script src="https://unpkg.com/vue-i18n@9/dist/vue-i18n.global{% if not is_debug %}.prod{% endif %}.js"></script> 
<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.26.1/axios.min.js"
  integrity="sha512-bPh3uwgU5qEMipS/VOmRqynnMXGGSRv+72H/N260MQeXZIK4PG48401Bsby9Nq5P5fz7hy5UGNmC/W1Z51h2GQ=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/marked/4.0.2/marked.min.js"
  integrity="sha512-hzyXu3u+VDu/7vpPjRKFp9w33Idx7pWWNazPm+aCMRu26yZXFCby1gn1JxevVv3LDwnSbyKrvLo3JNdi4Qx1ww=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/dompurify/2.3.6/purify.min.js"
  integrity="sha512-DJjvM/U3zCRpzrYboJgg23iLHapWcS2rlo7Ni18Cdv+FMs6b3gUF7hQihztj4uVkHHfUwk7dha97jVzRqUJ7hg=="
  crossorigin="anonymous" referrerpolicy="no-referrer"></script>

<script>document.csrf_token = { value: "{{ csrf_token }}" }</script>
<script>document.schedule_list_url = "{% url 'crm:schedule-list' %}"</script>
<script>document.schedules_date_url = "{% url 'crm:schedules_date_template'%}"</script>

<script>axios.defaults.headers.common['X-CSRFToken'] = document.csrf_token.value</script>

<script src="{% static 'crm/js/utils.js' %}"></script>
<script src="{% static 'crm/js/vue/app.js' %}"></script>
<script src="{% static 'crm/js/vue/schedule_elem.js' %}"></script>
<script src="{% static 'crm/js/vue/schedule_edit_modal.js' %}"></script>
<script src="{% static 'crm/js/vue/schedule_date.js' %}"></script>

<script>
  const messages = {
    en: {
      labels: {
        title: 'Title',
        all_day: 'All Day',
        start_datetime: "Start Datetime",
        end_datetime: "End Datetime",
        note: "Note",
        submit: "Submit",
        delete: "Delete",
        edit: "Edit",
      }
    },
    ja: {
      labels: {
        title: 'タイトル',
        all_day: "終日",
        start_datetime: "開始日時",
        end_datetime: "終了日時",
        note: "メモ",
        submit: "登録",
        delete: "削除",
        edit: "編集",
      }
    }
  }

  const i18n = VueI18n.createI18n({
    locale: 'ja', // set locale
    messages, // set locale messages
  })
</script>

<script>
  const app = Vue.createApp(App);
  app.use(i18n);
  app.component('schedule_elem', schedule_elem);
  app.component('schedule_edit_modal', schedule_edit_modal);
  app.component('schedule_date', schedule_date);
  app.mount('#app');
</script>
{% endblock %}
